<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedList Operations</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>LinkedList Operations</h1>
    </header>
    <main>
        <section class="form-group">
            <input type="text" id="data-input" placeholder="Enter data">
            <button onclick="addNode()">Add Node</button>
        </section>
        <section class="form-group">
            <input type="text" id="remove-data-input" placeholder="Enter data to remove">
            <button onclick="removeAt()">Remove Node</button>
        </section>
        <h2>LinkedList Contents:</h2>
        <pre id="list-display">[]</pre>
        <section class="form-group">
            <button id="removeBeginning" onclick="removeBeginning()">Remove from Beginning</button>
            <button id="removeAtEnd" onclick="removeAtEnd()">Remove from End</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 LinkedList Manager. All Rights Reserved.</p>
    </footer>
    <script src="static/main.js"></script>
</body>
</html>
